* {
 margin:0;
 padding:0
}

body{
    height:100vh;
    box-sizing: border-box;
    background-color: #031420;
    color:#F6F6F6;
}

.destaqueTitulo {
    color: #ffcc46;
}

.apresentacao {
    display:flex;
    align-items: center;
}